{{ define "main" }}
<section class="list-page-content">
    <h2>{{ .Title }}</h2>
    {{ .Content }}
    
    <div class="page-list">
        {{ range .Pages }}
        <div class="page-item">
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <div class="page-summary">
                {{ .Summary }}
            </div>
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}" class="read-more">Lire la suite</a>
            {{ end }}
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
