<header>
    <div class="logo-container">
        <a href="{{ "/" | relURL }}"><img src="{{ "images/logo_cds.png" | relURL }}" alt="Logo Compagnie des Songes" id="logo"></a>
        <h1><a href="{{ "/" | relURL }}" style="text-decoration: none; color: inherit;">La Compagnie des Songes</a></h1>
    </div>
    <nav>
        <ul>
            <li><a href="{{ "/" | relURL }}" {{ if .IsHome }}class="active"{{ end }}>Accueil</a></li>
            <li><a href="{{ "nos-univers" | relURL }}" {{ if eq .RelPermalink "/nos-univers/" }}class="active"{{ end }}>Nos Créations</a></li>
            <li><a href="{{ "notre-essence" | relURL }}" {{ if eq .RelPermalink "/notre-essence/" }}class="active"{{ end }}>Notre Univers</a></li>
            <li><a href="{{ "equipe" | relURL }}" {{ if eq .RelPermalink "/equipe/" }}class="active"{{ end }}>L'Équipe</a></li>
        </ul>
    </nav>
</header>
